<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- Boton para retroceder -->
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
   
    <ion-title>Agregar Dirección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-input type="text" placeholder="Ingresar Dirección" [(ngModel)]="direccion"></ion-input>
    <ion-input type="text" placeholder="Ingresar Numero" [(ngModel)]="nro"></ion-input>
    <ion-button (click)="guardar()" shape="block">Guardar</ion-button>
  </ion-card>
</ion-content>
