<ion-header>
  <div class="ion-text-start">
    <ion-toolbar>
      <ion-buttons slot="start"> <!-- Boton para retroceder -->
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>LlevoAPP</ion-title>
  </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <ion-card-content>
    <ion-card-content>
      <h2>Recupera tu contraseña con tu correo Duoc</h2>
    </ion-card-content>
    <ion-item>
      <ion-label position="floating">Ingresa Correo</ion-label>      
      <ion-input type="email" [(ngModel)]="datocorreo"></ion-input>
    </ion-item>
    <ion-card-content>
    <ion-button (click)="restablecer()" shape="block">RECUPERAR</ion-button>
   </ion-card-content>
  </ion-card-content>
  </ion-content>